<%- include("template/cabecera", {tituloweb: 'Deidades'}) %>

<div class="cover d-flex justify-content-end align-items-start flex-column p-5"
    style="background-image:url(img/rsz_pieter.jpg)">
    <h1 class="text-warning text-center">Deidades Prehispanicas</h1>
</div>

<section>
    <!-- Iconos de decoracion-->
    <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-skull"></i></i></div>
        <div class="divider-custom-line"></div>
    </div>
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-5">
                <img src="img/mictlantecuhtli.jpg" class="card-img-top" alt="Deidades Prehispanicas">
            </div>
            <div class="col-12 col-sm-6">
                <h3><strong>Mictlantecuhtli y Mictlantecuhtli</strong></h3>
                <p class="text-justify font-weight-bold my-2">Mictlantecuhtli, es el señor del inframundo
                    para la cosmovisión mexica, el reinaba sobre los
                    muertos del Mictlán junto con su esposa
                    Mictecacihuatl. Esta pareja gobernada los nueve
                    ríos subterráneos por donde se dirigían las almas
                    de los difuntos. El dios tenía la finalidad de
                    cuidar y vigilar todos los huesos de los muertos.
                    Mientras la señora del Mictlán era la encargada
                    de presidir los festivales mexicas dedicados a los
                    muertos. La representación de Mictlantecuhtli era
                    como un esqueleto humano con una calavera que
                    poseía muchos dientes, su pelo era muy
                    encrespado de color negro.</p>
                <p class="text-justify font-weight-bold  my-2">
                    La representación de Mictlantecuhtli era
                    como un esqueleto humano con una calavera que
                    poseía muchos dientes, su pelo era muy
                    encrespado de color negro. Sus ojos eran
                    enormes cuencos estelares en ellos reflejaba
                    todo su poder y control sobre la oscuridad y se le
                    representa con las fauces abiertas para recibir
                    las estrellas que descienden a él durante el día
                </p>
            </div>

        </div>
        
    </div>
</section>


<%- include("template/footer") %>