<%- include("template/cabecera", {tituloweb: 'Elementos'}) %>

<div class="cover d-flex justify-content-end align-items-start flex-column p-5"
    style="background-image:url(img/rsz_pieter.jpg)">
    <h1 class="text-warning text-center">Elementos</h1>
</div>

<section>
    <!-- Iconos de decoracion-->
    <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-skull"></i></i></div>
        <div class="divider-custom-line"></div>
    </div>
    <div class="container mt-5 mb-5">
        <h2>Elementos del altar de Muertos</h2>
        <div class="row">
            <div class="col-12 col-sm-6 col-md-3 mt-2 my-2">
                <div class="card p-4 text-center">
                    <div class="avatar rounded-circle" style="background-image:url(img/ele-01.jpg)"></div>
                    <h4 class="mt-2">Imagen de un Santo</h4>
                    <span class="badge badge-pill badge-warning">Primer Piso</span>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-3 mt-2 my-2">
                <div class="card p-4 text-center">
                    <div class="avatar rounded-circle" style="background-image:url(img/ele-02.jpg)"></div>
                    <h4 class="mt-2">Imagen de la Anima</h4>
                    <span class="badge badge-pill badge-warning">Segundo Piso</span>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-3 mt-2 my-2">
                <div class="card p-4 text-center">
                    <div class="avatar rounded-circle" style="background-image:url(img/ele-03.jpg)"></div>
                    <h4 class="mt-2">Sal</h4>
                    <span class="badge badge-pill badge-warning">Tercer Piso</span>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-3 mt-2 my-2">
                <div class="card p-4 text-center">
                    <div class="avatar rounded-circle" style="background-image:url(img/ele-04.jpg)"></div>
                    <h4 class="mt-2">Otras Imagenes</h4>
                    <span class="badge badge-pill badge-warning">Cuarto Piso</span>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-3 mt-2 my-2">
                <div class="card p-4 text-center">
                    <div class="avatar rounded-circle" style="background-image:url(img/ele-05.jpg)"></div>
                    <h4 class="mt-2">Alimento Preferido</h4>
                    <span class="badge badge-pill badge-warning">Quinto Piso</span>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-3 mt-2 my-2">
                <div class="card p-4 text-center">
                    <div class="avatar rounded-circle" style="background-image:url(img/ele-07.jpg)"></div>
                    <h4 class="mt-2">Fotos de Familia</h4>
                    <span class="badge badge-pill badge-warning">Sexto Piso</span>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-3 mt-2 my-2">
                <div class="card p-4 text-center">
                    <div class="avatar rounded-circle" style="background-image:url(img/ele-06.jpg)"></div>
                    <h4 class="mt-2">Cruz de flores</h4>
                    <span class="badge badge-pill badge-warning">Septimo Piso</span>
                </div>
            </div>

        </div>
    </div>
</section>

<section>
    <!-- Iconos de decoracion-->
    <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-skull"></i></i></div>
        <div class="divider-custom-line"></div>
    </div>
    <div class="container mt-5 mb-5">
        <h2>Otros Elementos</h2>
        <div class="row">
            <div class="col-12 col-sm-6 col-md-3 mt-2 my-2">
                <div class="card p-4 text-center">
                    <div class="avatar rounded-circle" style="background-image:url(img/ele2-01.jpg)"></div>
                    <h4 class="mt-2">Copal</h4>
                    <span class="badge badge-pill badge-success">Para la purificación del Alma</span>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-3 mt-2 my-2">
                <div class="card p-4 text-center">
                    <div class="avatar rounded-circle" style="background-image:url(img/ele2-02.jpg)"></div>
                    <h4 class="mt-2">Arco</h4>
                    <span class="badge badge-pill badge-success">Puerta de Entrada</span>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-3 mt-2 my-2">
                <div class="card p-4 text-center">
                    <div class="avatar rounded-circle" style="background-image:url(img/ele2-03.jpg)"></div>
                    <h4 class="mt-2">Flores</h4>
                    <span class="badge badge-pill badge-success">Decoracion del Altar</span>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-3 mt-2 my-2">
                <div class="card p-4 text-center">
                    <div class="avatar rounded-circle" style="background-image:url(img/ele2-04.jpg)"></div>
                    <h4 class="mt-2">Calaveras</h4>
                    <span class="badge badge-pill badge-success">Una burla sana a la muerte</span>
                </div>
            </div>

        </div>
    </div>
</section>

<%- include("template/footer") %>