<%- include("template/cabecera", {tituloweb: 'Pagina de Incio'}) %>

<div class="cover d-flex justify-content-center align-items-center flex-column">
    <h1 class="text-warning text-center">Dia de Muertos en Culturas Prehispanicas</h1>
    <a href="https://www.gob.mx/profeco/documentos/celebracion-del-dia-de-muertos-76082?state=published"
        class="btn btn-warning">Mas Informacion</a>
</div>
<!-- Seccion de Inicio -->
<section>
    <h2 class="text-warning text-center my-4 font-weight-bold">¿Que es? </h2>
    <!-- Iconos de decoracion-->
    <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-skull"></i></i></div>
        <div class="divider-custom-line"></div>
    </div>
    <!-- Primer Div -->
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <img src="img/rsz_salvador.jpg" class="float-rigth" height="226px" alt="Dia de Muertos">
            </div>
            <div class="col-md-8 col-md-offset-4">
                <div class="form-group">
                    <p class="text-justify font-weight-bold">En la época prehispánica el culto a la muerte
                        era uno de los elementos básicos de la cultura,
                        cuando alguien moría era enterrado envuelto en
                        un petate y sus familiares organizaban una fiesta
                        con el fin de guiarlo en su recorrido al Mictlán.</p>
                    <p class="text-justify font-weight-bold"> El
                        Día de Muertos en la visión indígena implica el
                        retorno transitorio de las ánimas de los difuntos,
                        quienes regresan a casa, al mundo de los vivos,
                        para convivir con los familiares y para nutrirse
                        de la esencia del alimento que se les ofrece en
                        los altares puestos en su honor. El Día de Muertos se
                        celebra en todo México, teniendo algunas variantes
                        dependiendo la región o el estado.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Seccion de sabias que -->
<section>
    <h2 class="text-warning text-center my-4 font-weight-bold">¿Sabias que?</h2>
    <!-- Iconos de decoracion-->
    <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-skull"></i></i></div>
        <div class="divider-custom-line"></div>
    </div>
    <!-- Primer Div-->
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-4 my-2">
                <div class="card" style="width: 21rem;">
                    <img src="img/rsz_fer-gomez.jpg" alt="Epoca Prehispánica">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Epoca Prehispánica</strong></h5>
                        <p class="card-text font-weight-normal">
                            El Día de Muertos en la época
                            prehispánica no se conmemoraba en
                            noviembre; el mes de agosto y octubre
                            era cuando se recordaba a los fallecidos,
                            por lo menos entre los nahuas. Existían
                            dos fiestas dedicadas al culto a los
                            muertos.
                        </p>
                    </div>
                </div>
            </div>
            <!-- Segundo Div-->
            <div class="col-12 col-sm-6 col-lg-4 my-2">
                <div class="card" style="width: 21rem;">
                    <img src="img/rsz_gadiel.jpg" alt="Calendario Nahuat">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Calendario Nahuat</strong></h5>
                        <p class="card-text font-weight-normal">
                            Miccailhuitontli o Fiesta de los
                            Muertecitos, en el noveno mes del
                            calendario nahua, que equivalía al mes
                            de agosto del año cristiano y la Fiesta
                            Grande de los Muertos, el décimo mes
                            del año”, menciona la antropóloga Ana
                            Paila Pintado.
                        </p>
                    </div>
                </div>
            </div>
            <!-- Tercer Div-->
            <div class="col-12 col-sm-6 col-lg-4 my-2">
                <div class="card" style="width: 21rem;">
                    <img src="img/rsz_alejandro.jpg" alt="Conquista Española">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Conquista Española</strong></h5>
                        <p class="card-text font-weight-normal">
                            Después de La Conquista se
                            transformó, aún mantiene destellos de lo
                            que acostumbraban nuestros
                            antepasados en la época prehispánica,
                            agregando algunos elementos como el
                            papel picado o el pan de muerto: una
                            muestra pura del mestizaje.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<!-- <h2><%= titulo %> </h2> -->

<%- include("template/footer") %>