<%- include("template/cabecera", {tituloweb: 'Niveles'}) %>

<div class="cover d-flex justify-content-end align-items-start flex-column p-5"
    style="background-image:url(img/rsz_pieter.jpg)">
    <h1 class="text-warning text-center">Niveles</h1>
</div>

<section>
    <!-- Iconos de decoracion-->
    <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-skull"></i></i></div>
        <div class="divider-custom-line"></div>
    </div>
    <!-- Primer Div-->
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-4 my-4">
                <div class="card" style="width: 21rem;">
                    <img src="img/nivel-1.jpg" width="335px" height="239px" alt="Primer Nivel">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Primer Nivel</strong></h5>
                        <p class="card-text font-weight-normal">
                            También llamado Itzcuintlan o “lugar de
                            perros”, este sitio estaba a la orilla de un caudaloso río, que el
                            muerto debía atravesar con la ayuda de un xoloitzcuintle de
                            color pardusco. Y más hacían al difunto llevar consigo un
                            perrito de pelo bermejo.
                        </p>
                    </div>
                </div>
            </div>
            <!-- Segundo Div-->
            <div class="col-12 col-sm-6 col-lg-4 my-4">
                <div class="card" style="width: 21rem;">
                    <img src="img/nivel-2.jpg" width="335px" height="239px" alt="Segundo Nivel">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Segundo Nivel</strong></h5>
                        <p class="card-text font-weight-normal">
                            El “lugar de los cerros que se juntan”. En este
                            nivel se dice que existían dos cerros que se abrían y
                            se cerraban, chocando entre sí de manera continua. Los
                            muertos, por lo tanto, debían buscar el momento
                            oportuno para cruzarlos sin ser triturados.
                        </p>
                    </div>
                </div>
            </div>
            <!-- Tercer Div-->
            <div class="col-12 col-sm-6 col-lg-4 my-4">
                <div class="card" style="width: 21rem;">
                    <img src="img/nivel-3.jpg" width="335px" height="239px" alt="Tercer Nivel">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Tercer Nivel</strong></h5>
                        <p class="card-text font-weight-normal my-3">
                            En este lugar se encontraba un cerro cubierto de
                            filosísimos pedernales, que desgarraban los cadáveres de los
                            muertos cuando estos tenían que escalarlos para cumplir con
                            su trayectoria.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4 my-4">
                <div class="card" style="width: 21rem;">
                    <img src="img/nivel-4.jpg" width="335px" height="239px" alt="Cuarto Nivel">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Cuarto Nivel</strong></h5>
                        <p class="card-text font-weight-normal my-5">
                            El “lugar del viento de obsidiana” era un sitio desolado de
                            hielo y piedra abrupta. Se trata de una sierra con aristas
                            cortantes compuesta de ocho collados en los que siempre caía
                            nieve.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4 my-4">
                <div class="card" style="width: 21rem;">
                    <img src="img/nivel-5.jpg" width="335px" height="239px" alt="Quinto Nivel">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Quinto Nivel</strong></h5>
                        <p class="card-text font-weight-normal my-4">
                            El lugar donde la gente vuela y se voltea como banderas”.
                            se ubicaba al pie del último collado o colina del 
                            Itzehecayan, donde los muertos perdían la gravedad y
                            estaban a merced de los vientos, que los arrastraba 
                            hasta que finalmente eran liberados para pasar al nivel siguiente.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4 my-4">
                <div class="card" style="width: 21rem;">
                    <img src="img/nivel-6.jpg" width="335px" height="239px" alt="Sexto Nivel">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Sexto Nivel</strong></h5>
                        <p class="card-text font-weight-normal my-4">
                            El lugar donde la gente es flechada”. Aquí existía un
                            extenso sendero a cuyos lados manos invisibles
                            enviaban puntiagudas saetas para acribillar a los
                            cadáveres de los muertos que lo atravesaban. Estas
                            eran saetas pérdidas durante las batallas.
                        </p>
                    </div>
                </div>
            </div>


            <div class="col-12 col-sm-6 col-lg-4 my-4">
                <div class="card" style="width: 21rem;">
                    <img src="img/nivel-7.jpg" width="335px" height="239px" alt="Septimo Nivel">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Septimo Nivel</strong></h5>
                        <p class="card-text font-weight-normal my-4">
                            Aquí los jaguares abrían el pecho del muerto para
                            comerse su corazón.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4 my-4">
                <div class="card" style="width: 21rem;">
                    <img src="img/nivel-8.jpg" width="335px" height="239px" alt="Octavo Nivel">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Octavo Nivel</strong></h5>
                        <p class="card-text font-weight-normal my-3">
                            En esta “laguna de aguas negras” (Apanhuiayo), el
                            muerto terminaba de descarnar y su tonalli (su alma), se
                            liberaba completamente del cuerpo.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4 my-4">
                <div class="card" style="width: 21rem;">
                    <img src="img/nivel-9.jpg" width="335px" height="239px" alt="Noveno Nivel">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Noveno Nivel</strong></h5>
                        <p class="card-text font-weight-normal">
                            Debía atravesar las nueve aguas de
                            Chiconahuapan, una vez superado este obstáculo, su
                            alma sería liberada de los padecimientos del
                            cuerpo, por Mictlantecuhtli y Mictecacihuatl.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<%- include("template/footer") %>