<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= tituloweb %> </title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- llamando a fontaweso  -->
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    <!-- llamando al css -->
    <link rel="stylesheet" href="/css/estilos.css">
    <!-- llamando al css de Datatable -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.23/datatables.min.css"/>

    <link rel="stylesheet" href="/css/responsive.bootstrap.min.css">
</head>
<body>
    <%- include("navbar")  %> 