<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dia de Muertos - <%= tituloweb %> </title>
    <!-- llamado de bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- llamado a los estilos -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- llamando a fontaweso  -->
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
</head>
<body>
    <%- include("navbar") %> 